.campaign-list-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#campaign-list{
  overflow-y: scroll;
}

.footer-button{
  min-width: 80px;
}
