.header{
  position: relative;
}

.logo{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header-brand{
  font-size: 1.75rem;
}

.user-name{
  max-width: 10rem;
  text-align: right;
  margin-right: 1rem;
}

.role-icon{
  max-width: 3rem;
  text-align: center;
  margin-right: 1rem;
}

.campaign{
  text-align: center;
}
